@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section button {
    padding: 15px 20px;
    background-color: #2F82E2;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: rgb(255, 250, 250);
    font-weight: 700;
    width: 15vw;
    border-radius: 5px;
}

dialog {
    margin: auto;
    border: 0;
    outline: 0;
}

dialog form {
    width: 35vw;
    background-color: white;
    /* overflow: hidden; */
    padding: 2vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

form div h1 {
    font-size: 2.5vw;
    margin-bottom: 10px;
}

form .name-email input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin: 10px 0;
    color: #6a6a6a6a;
    font-size: 1.1vw;
}

form .sel-course label,
.sel-skills label {
    font-size: 1vw;
}

form .sel-course select {
    width: 6vw;
    height: 2vw;
    margin: 10px 0;
    margin-left: 10px;
}

.sel-skills {
    margin: 10px 0;
}

.sel-skills label {
    margin-right: 10px;
}

.sel-skills span {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.sel-skills span label {
    font-size: 1vw;
}

form .message {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    margin: 20px 0;
    /* background-color: red; */
}

form .message textarea {
    width: 100%;
    height: auto;
    padding: 10px;
}

form .sub-btn button {
    width: 100%;
}